.app_menu .webix_icon{
	font-size:20px;
    vertical-align:middle;
    font-family:"Webix Awesome Icons";
    margin:2px 10px;
}
.webix_view {
    border: none;
}
.webix_list_item .webix_icon {
    font-size:20px;
    vertical-align:middle;
    font-family:"Webix Awesome Icons";
}
.img_contact {
    width: 35px;
	float: left;
    padding-right: 20px;
}
.photo_contact {
    width: 75px;
    margin: 0 30px 0 15px;
}
.contact_img {
    border-radius: 50%;
    width: 96px;
    height: 96px;
}
.list_contact_img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.info_contact {
    display: flex;
}
.contact {
    display: inline-flex;
    padding: 2px 2px;
}  
.contact .contact_avatar {
    display: flex;
    width: 40px;
    align-items: center; 
    margin-right: 5px;
    font-size: 15px;
}
.contact_details_div {
    line-height: 12px;
}
.status_contact {
    width: 96px;
    text-align: center;
}
.detailed_info_contact {
    display: flex;
    flex-direction: column;
}
.white_bgc {
    background-color: #fff;
}
.webix_button.webix_img_btn {
    color: #000;
    border: 1px solid black;
}
.mdi_details {
    padding: 10px 30px;
}
.mt0 {
    margin: 0 0;
}
